<!DOCTYPE html>
<html>
<head>
  <title>Perfect English</title>
  <%= metamagic %>
    <%= metamagic :title => 'Speak perfect English', :description => 'Videos that help you learn perfect English', :keywords => %w(english app perfect english app ios english) %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>	
</body>
</html>
